.authority {
  color: #303030;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0px;
  right: 0px;
  bottom: 5px;
}

@media (max-width: 768px) {
  .authority {
    font-size: 12px;
    bottom: 10px;
    padding: 0 10px;
    text-align: center;
  }
}
