body {
  background-color: #1a1a1a;
  animation: open-page 1s ease-in-out;
  user-select: none;
  font-family: Inter;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes open-page {
  from {
    opacity: 0%;
    background-color: black;
  }
  to {
    opacity: 100%;
    background-color: #1a1a1a;
  }
}
