* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  color: white;
  user-select: none;
  overflow-x: hidden;
  animation: open-page 1s ease-in-out;
}

@keyframes open-page {
  from {
    opacity: 0;
    background-color: black;
  }
  to {
    opacity: 1;
    background-color: #1a1a1a;
  }
}
